.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.left-element {
    flex: 1;
    padding-left: 35px;
}


.textarea{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.textarea{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.description{
    flex: 2; /* Take up 2 times the space as the comments textarea */
    resize: none; /* Disable textarea resizing */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.comments {
    flex: 1; /* Take up 1 times the space as the description textarea */
    resize: none; /* Disable textarea resizing */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.Comments {
    color: red;
    background-color:white;
    width: 500px;
    height: 200px;
  }


/* Style for the contact form */
.contact-form {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    /* text-align: center; */
}

/* Style for form labels and inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="email"],
textarea {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Style for the "Send Message" button */
.send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.send-button:hover {
    background-color: #0056b3;
}

