body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.left-element {
    flex: 1;
    padding-left: 35px;
}

.right-element {
    flex: 1;
    text-align: right;
}
.mycourses-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.courses-button:hover {
    background-color: #0056b3;
}

.menu-button {
    display: none;
    background-color: #333;
    color: white;
    border: none;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #888888;
    border-bottom: 1px solid #e0e0e0;
}

.header-right {
    margin-left: auto;
}




#add-course {
    margin: 0;
}

.content {
    display: flex;
    padding: 20px 30px;
    gap: 20px;
}

.left, .right {
    flex: 1;
    width: 50%; 
}

.table, th, td {
    border: 1px solid #888888;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

.card {
    background-color: #fff;
    border: 1px solid #888888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.objective-item {
    margin-bottom: 20px;
}

.objective-item strong {
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .menu-button {
        display: block;
    }

    
    .left, .right {
        width: 100%;
        margin-bottom: 15px;
    }

    .content {
        flex-direction: column;
    }

    .card {
        overflow-x: auto;
    }
    .responsive-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}