/* Team 15: Rodrigues, Ruvin - 1002029569, Sheth, Urmi Manish - 1002064934, Surakunta, Vinil Reddy  – 1002072982,
Valishetty,Srikar - 1002088509, Sesetti, Sri Budhi Sagar  - 1002131432 */



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.leftElement {
    flex: 1;
    padding-left: 35px;
}

.rightElement {
    flex: 1;
    text-align: right;
    padding-right: 15px;
}
.courses {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto; 
    padding: 0px 30px; 
}

.courseCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    max-width: 300px; 
    transition: transform 0.3s ease-in-out;
}

.courseCard:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .courseCard {
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .courseCard {
        max-width: 100%;
    }
}

.courseInfo {
    padding: 20px;
}

.courseTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.courseDescription {
    font-size: 16px;
    margin-bottom: 10px;
}

.courseMeta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}

.courseInstructor, .courseDuration {
    color: #777;
}

.mycoursesButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.coursesButton:hover {
    background-color: #0056b3;
}


.buttonRow{
    display: flex;
    justify-content: left;
    gap: 50px;
}

.UploadButton{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.spacer{
    width: 70px;
}

.buttonGroup{
display: flex;
align-items: left;
gap: 50px;
}
	
.button {
    padding: 15px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    min-width: 150px;
}

.button1{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.textarea{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.textarea{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.description{
    flex: 2; /* Take up 2 times the space as the comments textarea */
    resize: none; /* Disable textarea resizing */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.comments {
    flex: 1; /* Take up 1 times the space as the description textarea */
    resize: none; /* Disable textarea resizing */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.Comments {
    color: red;
    background-color:white;
    width: 500px;
    height: 200px;
  }

  .CourseInformation {
    color: auto;
    border: 1px solid #130101;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: white;
    height: 200px;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
}
