/* Center the form vertically and horizontally */
.createCourse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-style: ridge;
    padding: 20px;
    border: 1px solid black;
    
    
}

/* On hover, scale up the form slightly */
form:hover {
    transform: scale(1.02);
}

/* Style form elements */
/* .form-group {
    margin-bottom: 15px;
} */

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
}   




.submit-btn {
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}


input:focus,
textarea:focus {
    outline: none;
    border-color: #007BFF; 
}


.form-group:last-child {
    margin-bottom: 0;
}
