/* Team 15: Rodrigues, Ruvin - 1002029569, Sheth, Urmi Manish - 1002064934, Surakunta, Vinil Reddy  – 1002072982,
Valishetty,Srikar - 1002088509, Sesetti, Sri Budhi Sagar  - 1002131432 */



.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
	padding: 10px;
}

.leftElement {
	flex: 1;
	padding-left: 35px;
}

.rightElement {
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

.gradesButton {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	margin: 10px;
}

.gradesButton:hover {
	background-color: #0056b3;
}

.grades {
	width: 90%;
	margin: 20px auto;
}

.customTable{
	width: 90%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 20px auto;
}

.customTable th,
.customTable td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.customButton {
	padding: 10px 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}

@media (max-width: 768px) {
	.customTable {
		width: 95%;
		border-collapse: collapse;
		border: 1px solid #ccc;
		margin: 20px auto;
	}
	.customTable th,
	.customTable td {
		padding: 5px;
		font-size: 14px;
	}
}

.customTable input {
	width: 90%;
}

.customTable td,
.customButton tr {
	padding: 10px;
	width: 50%;
}

.release {
	width: 100%;
	text-align: center;
}
