
/* Team 15
Ruvin Rodrigues  - 1002029569
Urmi Manish Sheth - 1002064934
Vinil Reddy Surakunta – 1002072982
Srikar Valishetty - 1002088509
Sri Budhi Sagar Sesetti - 1002131432 */


.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
	padding: 10px;
}

.left-element {
	flex: 1;
	padding-left: 35px;
}

.right-element {
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

.grades-button, .pdf-button, .resolve-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	margin: 10px 0;
}

.grades-button:hover, .pdf-button:hover, .resolve-button:hover {
	background-color: #0056b3;
}

.grades {
	width: 90%;
	margin: 20px auto;
}

.custom-table {
	width: 90%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 20px auto;
}

.custom-table th,
.custom-table td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.custom-button {
	padding: 5px 10px;
	background-color: #ff0000;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}

@media (max-width: 768px) {
	.custom-table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #ccc;
		margin: 0 auto;
	}
	.custom-table th,
	.custom-table td {
		padding: 5px;
		font-size: 14px;
	}
	.resolve-button{
		padding: 5px;
		font-size: 14px;
	}
}

.custom-table input {
	width: 90%;
}

.custom-table td,
.custom-button tr {
	padding: 10px;
}

.release, .reports {
	width: 100%;
	text-align: center;
}
