
/* Team 15
Ruvin Rodrigues  - 1002029569
Urmi Manish Sheth - 1002064934
Vinil Reddy Surakunta – 1002072982
Srikar Valishetty - 1002088509
Sri Budhi Sagar Sesetti - 1002131432 */


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.left-element {
    flex: 1;
    padding-left: 35px;
}

.right-element {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
.courses {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto; 
    padding: 0px 30px; 
}

.course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    max-width: 300px; 
    transition: transform 0.3s ease-in-out;
}

.course-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .course-card {
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .course-card {
        max-width: 100%;
    }
}

.course-info {
    padding: 20px;
}

.course-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}

.course-instructor, .course-duration {
    color: #777;
}

.mycourses-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.courses-button:hover {
    background-color: #0056b3;
}
