/* Team 15: Rodrigues, Ruvin - 1002029569, Sheth, Urmi Manish - 1002064934, Surakunta, Vinil Reddy  – 1002072982,
Valishetty,Srikar - 1002088509, Sesetti, Sri Budhi Sagar  - 1002131432 */

.searchContainer {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
}

.searchInput {
	width: 70%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.searchButton {
	width: 25%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}

@media (max-width: 768px) {
	.searchContainer {
		flex-direction: column;
	}

	.searchInput {
		width: 100%;
		margin-bottom: 10px;
	}

	.searchButton {
		width: 100%;
	}
}

.newUsersTable th,
.newUsersTable td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.newUsersTable {
	width: 90%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 20px auto;
}

.newUsersButton {
	padding: 5px 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}

@media (max-width: 768px) {
	.newUsersTable {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #ccc;
		margin: 0 auto;
	}
	.newUsersTable th,
	.newUsersTable td {
		padding: 5px;
		font-size: 14px;
	}
}

.addContainer {
	text-align: center;
	background-color: #f0f0f0;
	padding: 10px;
}
