/* Team 15: Rodrigues, Ruvin - 1002029569, Sheth, Urmi Manish - 1002064934, Surakunta, Vinil Reddy  – 1002072982,
Valishetty,Srikar - 1002088509, Sesetti, Sri Budhi Sagar  - 1002131432 */


  .custom-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    font-size: 15px;
  }

  .left-element {
    flex: 1;
    padding-left: 35px;
  }
  .right-element {
    flex: 1;
    text-align: right;
    padding-right: 30px;
  }
  
  @media (max-width: 768px) {
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ccc;
      margin: 0 auto;
    }
    .custom-table th,
    .custom-table td {
      padding: 5px;
      font-size: 14px;
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
  }

  .user-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
    width: 40%;
  }
  
  .user-button:hover {
    background-color: #0056b3;
  }
