/* Team 15
Ruvin Rodrigues  - 1002029569
Urmi Manish Sheth - 1002064934
Vinil Reddy Surakunta – 1002072982
Srikar Valishetty - 1002088509
Sri Budhi Sagar Sesetti - 1002131432 */


body {
	margin: 0;
	padding: 0;
}

.profile {
	max-width: 600px;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.profile-picture {
	text-align: center;
}

.profile-picture img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.left-element {
    flex: 1;
    padding-left: 35px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="file"] {
	display: none;
}

.upload-btn {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
    width: 150px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: small;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 250px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}
.btn-group {
	display: flex;
	justify-content: center;
}
