
/* Team 15
Ruvin Rodrigues  - 1002029569
Urmi Manish Sheth - 1002064934
Vinil Reddy Surakunta – 1002072982
Srikar Valishetty - 1002088509
Sri Budhi Sagar Sesetti - 1002131432 */


.container {
    display: flex;
    justify-content: space-between;
    
    background-color: #f0f0f0;
    padding: 10px;
}

.left-element {
    flex: 1;
    padding-left: 35px;
}

.recommendationform{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  
}


label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
   
}

textarea {
    height: 150px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}