.serviceHeaderContainer{
    background-color: #f0f0f0;
    padding: 10px;
}

.serviceHeader{
    margin-left: 20px;
}

.serviceCardContainer{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.serviceCard{
    width: 280px;
    height: 80px;
    border: 1px solid #f0f0f0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    cursor: pointer;
    margin: 20px;
}

.serviceCard img{
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

.attribution{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #f0f0f0;

}