/* Team 15: Rodrigues, Ruvin - 1002029569, Sheth, Urmi Manish - 1002064934, Surakunta, Vinil Reddy  – 1002072982,
Valishetty,Srikar - 1002088509, Sesetti, Sri Budhi Sagar  - 1002131432 */

.wholebody {
  width: 100%;
  margin: 0 auto;
}

.head1 {
  display: inline-block;
}

.head {
  display: inline-block;
  font-size: 32px;
  margin-top: 10px;
}

.containerLogin,
.containerRegister,
.containerforgotpass,
.containerNewpass {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.wrapLogin,
.wrapRegister,
.wrapForgotpass,
.wrapNewpass {
  margin-top: 5%;
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.headerimg {
  background-image: url('../images/auth.jpg');
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 15px 74px 15px;
}

.headerimg::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 84, 99, 0.7);
}

.headerimg span {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800;
}

.loginform,
.newpasswordform,
.forgotpasswordform,
.registerform {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loginInput,
.registerInput,
.newpasswordInput,
.forgotpassInput {
  width: 80%;
  margin: 20px;
}

.input100 {
  font-size: 15px;
  color: #555555;
  height: 50px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #b2b2b2;
}

.loginBtn,
.newpasswordBtn,
.forgotBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.loginBtn,
.registerBtn {
  display: flex;
  justify-content: center;

  width: 100%;
}

.login {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
.subBtn {
  min-width: 130px;
  height: 40px;
  background-color: #157efb;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  border: none;
  box-shadow: 3px 3px 10px #888888;
}

.subBtn:hover {
  background-color: #333333;
  cursor: pointer;
}

.txt {
  color: #333333;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  text-align: center;
}

.txt a {
  text-decoration: none;
  margin: 0 0 10px 0;
}

.txt div {
  margin: 10px 0;
}
.txt a:hover {
  text-decoration: underline;
}

.dropdownRole {
  width: 80%;
}

.dropdownLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.dropdownSelect {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #333;
}

.dropdownSelect option {
  background-color: #fff;
  color: #333;
}

.dropdownSelect::-ms-expand {
  display: none;
}

.dropdownSelect::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
